*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#todo-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #464646;
  border-radius: .3125rem;
}
