*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#todo-input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 2px solid #464646;
  border-radius: .3125rem;
}

.user-todos {
  margin-top: 2rem;
}

.todo-text {
  color: #000;
}

.completed-true {
  color:#10b981;
}

.completed-false {
  color: #dc143c;
}
