*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.decrement, .increment {
  cursor: pointer;
  width: 2rem;
  height: 4rem;
  font-size: 1.5rem;
}

.count {
  font-size: 2rem;
  padding-inline: 1rem;
  text-align: center;
}
